:root {
	--black: #000000;
	--blue: #1919a6;
	--yellow: #e0e246;
	--monster-red: #c74e4e;
	--border: 2px double #1919a6;
	--outline: 1px solid red;
	--monster-blue: teal;
	--white: aliceblue;
	--navy: rgb(3, 3, 247);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	font-family: 'Press Start 2P', cursive;
	background-color: var(--black);
}
.map .text {
	position: absolute;
	top: 58%;
	left: 30%;
	font-size: 2.2em;
	color: #eeff00;
	text-shadow: 0px 0px 0 rgb(228, 166, 0), 0px 1px 0 rgb(201, 139, 0),
		0px 2px 0 rgb(174, 112, 0), 0px 3px 0 rgb(148, 86, 0),
		0px 4px 0 rgb(121, 59, 0), 0px 5px 0 rgb(94, 32, 0), 0px 6px 0 rgb(67, 5, 0),
		0px 7px 0 rgb(40, -22, 0), 0px 8px 0 rgb(13, -49, 0),
		0px 9px 8px rgba(0, 0, 0, 0.24), 0px 9px 1px rgba(0, 0, 0, 0.5),
		0px 0px 8px rgba(0, 0, 0, 0.2);
	-webkit-animation: text-ready-anim 1.7s 1
		cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
	animation: text-ready-anim 1.7s 1 cubic-bezier(0.55, 0.085, 0.68, 0.53)
		forwards;
}
.score {
	position: absolute;
	top: -5%;
	left: 5%;
	font-size: 1em;
	color: var(--white);
}
.score .zero {
	color: var(--black);
}
.score > .score-0 {
	position: absolute;
	transform: translate(100%, -50%);
	animation: score-anim-0 4.7s forwards 0s;
	opacity: 0;
}
.score-10 {
	animation: score-anim 0.5s forwards 0.7s;
	left: 0%;
	opacity: 0;
}
.score-20 {
	animation: score-anim 0.4s forwards 1.15s;
	opacity: 0;
}
.score-30 {
	animation: score-anim 0.6s forwards 1.5s;
	opacity: 0;
}
.score-40 {
	animation: score-anim 0.6s forwards 2s;
	opacity: 0;
}
.score-50 {
	animation: score-anim 0.6s forwards 2.5s;
	opacity: 0;
}
.score-60 {
	animation: score-anim 0.5s forwards 2.95s;
	opacity: 0;
}
.score-70 {
	animation: score-anim 0.8s forwards 3.4s;
	opacity: 0;
}
.score-80 {
	animation: score-anim 0.5s forwards 4.1s;
	opacity: 0;
}
.score-90 {
	animation: score-anim 0.5s forwards 4.4s;
	opacity: 0;
}
.score-100 {
	animation: score-anim 0.6s forwards 4.7s;
	opacity: 0;
}
.score-110 {
	animation: score-anim 0.3s forwards 5.1s;
	opacity: 0;
}
.score-120 {
	animation: score-anim 0.4s forwards 5.4s;
	opacity: 0;
}
.score-130 {
	animation: score-anim 0.3s forwards 5.8s;
	opacity: 0;
}
.score-140 {
	animation: score-anim 0.9s forwards 6.1s;
	opacity: 0;
}

@keyframes score-anim-0 {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes score-anim {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.map {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	border: 7px double var(--blue);
	border-radius: 8px;
	background: var(--black);
	animation: map-blinking-outside-border 5s 54s 1;
}
.map div {
	border-radius: 8px;
	position: absolute;
	transform: translate(-50%, -50%);
}
.wide-rectangle-1 {
	border: var(--border);
	top: 12.5%;
	left: 21%;
	width: 100px;
	height: 25px;
	-webkit-box-reflect: right 176%;
	animation: map-blinking 5s 54s 1;
}
.wide-rectangle-2 {
	border: var(--border);
	top: 87.5%;
	left: 21%;
	width: 100px;
	height: 25px;
	-webkit-box-reflect: right 178%;
	animation: map-blinking 5s 54s 1;
}
.square {
	border: var(--border);
	top: 50.5%;
	left: 50%;
	width: 60px;
	height: 60px;
	z-index: 5;
	animation: map-blinking 5s 54s 1;
}
.square-line {
	position: absolute;
	top: -2px;
	left: 15px;
	width: 26px;
	height: 2px;
	border: none;
	background-color: aliceblue;
}
.map .U-object {
	position: relative;
	top: 56.5%;
	left: 20.5%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	border: none;
	-webkit-box-reflect: right 185px;
}
.U-object span {
	border: var(--border);
	position: absolute;
	background-color: var(--black);
}
.U-first {
	top: 26.5px;
	left: 15px;
	border-radius: 8px;
	width: 85px;
	height: 25px;
	z-index: -1;
	animation: map-blinking 5s 54s 1;
}
.U-second {
	top: -13.5px;
	width: 25px;
	height: 65px;
	border-radius: 8px 8px 0px 8px;
	animation: map-blinking 5s 54s 1;
}
.U-third {
	top: -13.5px;
	left: 80px;
	width: 25px;
	height: 65px;
	border-radius: 8px 8px 8px 0px;
	animation: map-blinking 5s 54s 1;
}
.U-object .U-line-second {
	top: 28.5px;
	left: 23.2px;
	width: 5px;
	height: 21px;
	border: none;
}
.U-object .U-line-third {
	top: 28.5px;
	left: 77.5px;
	width: 5px;
	height: 21px;
	border: none;
}

.map .L-object-A {
	position: absolute;
	top: 26.5%;
	left: 25.5%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 100px;
	border: none;
}
.L-object-A span {
	border: var(--border);
	position: absolute;
	background-color: var(--black);
}
.L-first-A {
	top: 51px;
	left: 0px;
	border-radius: 8px;
	width: 181px;
	height: 25px;
	z-index: -1;
	animation: map-blinking 5s 54s 1;
}
.L-second-A {
	border-radius: 8px 8px 8px 0px;
	width: 25px;
	height: 103px;
	top: -27.2px;
	left: 160px;
	animation: map-blinking 5s 54s 1;
}
.L-object-A .L-line-A {
	top: 53.2px;
	left: 160px;
	width: 4px;
	height: 21px;
	border: none;
}
.map .L-object-B {
	position: absolute;
	top: 26.5%;
	left: 66%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 100px;
	border: none;
}
.L-object-B span {
	border: var(--border);
	position: absolute;
	background-color: var(--black);
}
.L-first-B {
	top: 51px;
	left: 0px;
	border-radius: 8px;
	width: 181px;
	height: 25px;
	z-index: -1;
	animation: map-blinking 5s 54s 1;
}
.L-second-B {
	border-radius: 8px 8px 0px 8px;
	width: 25px;
	height: 103px;
	top: -27.2px;
	left: 0px;
	animation: map-blinking 5s 54s 1;
}
.L-object-B .L-line-B {
	top: 53.2px;
	left: 23px;
	width: 4px;
	height: 21px;
	border: none;
}
.map .L-object-C {
	position: absolute;
	top: 66.5%;
	left: 34.5%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 100px;
	border: none;
}
.L-object-C span {
	border: var(--border);
	position: absolute;
	background-color: var(--black);
}
.L-first-C {
	top: 61px;
	left: -41px;
	border-radius: 8px;
	width: 181px;
	height: 25px;
	animation: map-blinking 5s 54s 1;
}
.L-second-C {
	top: 61px;
	left: 121px;
	border-radius: 0px 8px 8px 8px;
	width: 25px;
	height: 103px;
	animation: map-blinking 5s 54s 1;
}
.L-object-C .L-line-C {
	top: 63px;
	left: 120px;
	width: 4px;
	height: 21px;
	border: none;
}

.map .L-object-D {
	position: absolute;
	top: 66.5%;
	left: 75.5%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 100px;
	border: none;
}
.L-object-D span {
	border: var(--border);
	position: absolute;
	background-color: var(--black);
}
.L-first-D {
	top: 61px;
	left: -41px;
	border-radius: 8px;
	width: 181px;
	height: 25px;
	animation: map-blinking 5s 54s 1;
}
.L-second-D {
	top: 61px;
	left: -41px;
	border-radius: 8px 0px 8px 8px;
	width: 25px;
	height: 103px;
	animation: map-blinking 5s 54s 1;
}
.L-object-D .L-line-D {
	top: 63px;
	left: -18px;
	width: 4px;
	height: 21px;
	border: none;
}
.map .pac-man {
	position: absolute;
	top: 34.5%;
	left: 2.2%;
	transform: rotate(-45deg);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-left: 15px solid var(--yellow);
	border-top: 15px solid var(--yellow);
	z-index: 2;
	animation: pac-man-animation 60s 0.5s linear 1 forwards,
		pac-man-mouth 0.3s 0.5s linear infinite alternate-reverse;
}

/****************************************************
 ******************** MONSTER RED ******************
 ****************************************************/
.map .monster-red {
	position: absolute;
	top: 4%;
	left: 80%;
	width: 30px;
	height: 24px;
	border-radius: 50% 50% 0 0;
	background-color: var(--monster-red);
	z-index: 1;
	animation: monster-red-animation 60s 0.5s linear forwards 1;
}
.monster-red-wave-normal {
	position: absolute;
	bottom: -9px;
	left: 0%;
	width: 100%;
	height: 10px;
	background: linear-gradient(
			-45deg,
			transparent 33.333%,
			var(--monster-red) 33.333%,
			var(--monster-red) 66.667%,
			transparent 66.667%
		),
		linear-gradient(
			45deg,
			transparent 33.333%,
			var(--monster-red) 33.333%,
			var(--monster-red) 66.667%,
			transparent 66.667%
		);
	background-size: 10px 20px;
	transform: rotate(180deg);
	animation: monster-red-wave-normal-animation 60s 0.5s linear 1 forwards;
}
.monster-red-wave-eaten {
	position: absolute;
	bottom: -9px;
	left: 0%;
	width: 100%;
	height: 10px;
	background: linear-gradient(
			-45deg,
			transparent 33.333%,
			var(--navy) 0.333%,
			var(--navy) 66.667%,
			transparent 66.667%
		),
		linear-gradient(
			45deg,
			transparent 33.333%,
			var(--navy) 33.333%,
			var(--navy) 66.667%,
			transparent 66.667%
		);
	background-size: 10px 20px;
	transform: rotate(180deg);
	opacity: 0;
	animation: monster-red-wave-eaten-animation 60s 0.5s linear 1 forwards;
}
.monster-red-wave-eaten-white-blinking {
	position: absolute;
	bottom: -9px;
	left: 0%;
	width: 100%;
	height: 10px;
	background: linear-gradient(
			-45deg,
			transparent 33.333%,
			var(--white) 0.333%,
			var(--white) 66.667%,
			transparent 66.667%
		),
		linear-gradient(
			45deg,
			transparent 33.333%,
			var(--white) 33.333%,
			var(--white) 66.667%,
			transparent 66.667%
		);
	background-size: 10px 20px;
	transform: rotate(180deg);
	opacity: 0;
	animation: monster-red-wave-eaten-white-blinking-animation 60s 0.5s linear 1
		forwards;
}

.monster-red-eyes {
	position: absolute;
	top: 31%;
	left: 20%;
	border-radius: 45%;
	background: var(--black);
	width: 5px;
	height: 5px;
	box-shadow: 0 0 0 3.5px var(--white);
	-webkit-box-reflect: right 8px;
	animation: monster-red-eyes 60s 0.5s linear 1 forwards;
}
.monster-red-eyes-eaten {
	position: absolute;
	top: 25%;
	left: 20.5%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--white);
	-webkit-box-reflect: right 7px;
	opacity: 0;
	animation: monster-red-eyes-eaten-anim 60s 0.5s linear 1 forwards;
}

.monster-red-eyes-eaten-white-blinking {
	position: absolute;
	top: 25%;
	left: 20.5%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--navy);
	-webkit-box-reflect: right 7px;
	opacity: 0;
	animation: monster-red-eyes-eaten-white-blinking-anim 60s 0.5s linear 1
		forwards;
}

.monster-red-mouth-eaten {
	position: absolute;
	bottom: -25%;
	left: 13%;
	width: 85%;
	height: 20px;
	background-color: var(--white);
	clip-path: polygon(
		0.25% 60.5%,
		14.17% 37.76%,
		28.1% 60.5%,
		43.35% 37.76%,
		58.6% 60.5%,
		72.76% 37.24%,
		86.92% 60.5%,
		86.92% 75%,
		72.76% 51.9%,
		58.6% 75%,
		43.35% 51.9%,
		28.1% 75%,
		14.17% 53.15%,
		0.25% 75%
	);
	opacity: 0;
	animation: monster-red-mouth-eaten-anim 60s 0.5s linear 1 forwards;
}
.monster-red-mouth-eaten-white-blinking {
	position: absolute;
	bottom: -25%;
	left: 13%;
	width: 85%;
	height: 20px;
	background-color: var(--navy);
	clip-path: polygon(
		0.25% 60.5%,
		14.17% 37.76%,
		28.1% 60.5%,
		43.35% 37.76%,
		58.6% 60.5%,
		72.76% 37.24%,
		86.92% 60.5%,
		86.92% 75%,
		72.76% 51.9%,
		58.6% 75%,
		43.35% 51.9%,
		28.1% 75%,
		14.17% 53.15%,
		0.25% 75%
	);
	opacity: 0;
	animation: monster-red-mouth-eaten-white-blinking-anim 60s 0.5s linear 1
		forwards;
}

/****************************************************
 ******************** MONSTER BLUE ******************
 ****************************************************/

.map .monster-blue {
	position: relative;
	top: 73.5%;
	left: 12%;
	width: 30px;
	height: 24px;
	border-radius: 50% 50% 0 0;
	background: var(--monster-blue);
	z-index: 1;
	animation: monster-blue-animation 60s 0.5s linear 1 forwards;
}

.monster-blue-wave-normal {
	position: absolute;
	bottom: -9px;
	left: 0%;
	width: 100%;
	height: 10px;
	background: linear-gradient(
			-45deg,
			transparent 33.333%,
			var(--monster-blue) 33.333%,
			var(--monster-blue) 66.667%,
			transparent 66.667%
		),
		linear-gradient(
			45deg,
			transparent 33.333%,
			var(--monster-blue) 33.333%,
			var(--monster-blue) 66.667%,
			transparent 66.667%
		);
	background-size: 10px 20px;
	transform: rotate(180deg);
	animation: monster-blue-wave-normal 60s 0.5s linear 1 forwards;
}
.monster-blue-wave-eaten {
	position: absolute;
	bottom: -9px;
	left: 0%;
	width: 100%;
	height: 10px;
	background: linear-gradient(
			-45deg,
			transparent 33.333%,
			var(--navy) 0.333%,
			var(--navy) 66.667%,
			transparent 66.667%
		),
		linear-gradient(
			45deg,
			transparent 33.333%,
			var(--navy) 33.333%,
			var(--navy) 66.667%,
			transparent 66.667%
		);
	background-size: 10px 20px;
	transform: rotate(180deg);
	opacity: 0;
	animation: monster-blue-wave-eaten-animation 60s 0.5s linear 1 forwards;
}
.monster-blue-wave-eaten-white-blinking {
	position: absolute;
	bottom: -9px;
	left: 0%;
	width: 100%;
	height: 10px;
	background: linear-gradient(
			-45deg,
			transparent 33.333%,
			var(--white) 0.333%,
			var(--white) 66.667%,
			transparent 66.667%
		),
		linear-gradient(
			45deg,
			transparent 33.333%,
			var(--white) 33.333%,
			var(--white) 66.667%,
			transparent 66.667%
		);
	background-size: 10px 20px;
	transform: rotate(180deg);
	opacity: 0;
	animation: monster-blue-wave-eaten-white-blinking-animation 60s 0.5s linear 1
		forwards;
}
.monster-blue-eyes {
	position: absolute;
	top: 28%;
	left: 20%;
	border-radius: 50%;
	background-color: var(--black);
	width: 5px;
	height: 5px;
	box-shadow: 0 0 0 3.5px var(--white);
	-webkit-box-reflect: right 8px;
	animation: monster-blue-eyes 60s 0.5s linear 1 forwards;
}
.monster-blue-eyes-eaten {
	position: absolute;
	top: 25%;
	left: 20.5%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--white);
	-webkit-box-reflect: right 7px;
	opacity: 0;
	animation: monster-blue-eyes-eaten-anim 60s 0.5s linear 1 forwards;
}

.monster-blue-eyes-eaten-white-blinking {
	position: absolute;
	top: 25%;
	left: 20.5%;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--navy);
	-webkit-box-reflect: right 7px;
	opacity: 0;
	animation: monster-blue-eyes-eaten-white-blinking-anim 60s 0.5s linear 1
		forwards;
}
.monster-blue-mouth-eaten {
	position: absolute;
	bottom: -25%;
	left: 13%;
	width: 85%;
	height: 20px;
	background-color: var(--white);
	clip-path: polygon(
		0.25% 60.5%,
		14.17% 37.76%,
		28.1% 60.5%,
		43.35% 37.76%,
		58.6% 60.5%,
		72.76% 37.24%,
		86.92% 60.5%,
		86.92% 75%,
		72.76% 51.9%,
		58.6% 75%,
		43.35% 51.9%,
		28.1% 75%,
		14.17% 53.15%,
		0.25% 75%
	);
	opacity: 0;
	animation: monster-blue-mouth-eaten-anim 60s 0.5s linear 1 forwards;
}
.monster-blue-mouth-eaten-white-blinking {
	position: absolute;
	bottom: -25%;
	left: 13%;
	width: 85%;
	height: 20px;
	background-color: var(--navy);
	clip-path: polygon(
		0.25% 60.5%,
		14.17% 37.76%,
		28.1% 60.5%,
		43.35% 37.76%,
		58.6% 60.5%,
		72.76% 37.24%,
		86.92% 60.5%,
		86.92% 75%,
		72.76% 51.9%,
		58.6% 75%,
		43.35% 51.9%,
		28.1% 75%,
		14.17% 53.15%,
		0.25% 75%
	);
	opacity: 0;
	animation: monster-blue-mouth-eaten-white-blinking-anim 60s 0.5s linear 1
		forwards;
}
@keyframes map-blinking-outside-border {
	0% {
	}
	10% {
		border: 7px double var(--blue);
	}
	20% {
		border: 7px double var(--white);
	}
	30% {
		border: 7px double var(--blue);
	}
	40% {
		border: 7px double var(--white);
	}
	50% {
		border: 7px double var(--blue);
	}
	60% {
		border: 7px double var(--white);
	}
	70% {
		border: 7px double var(--blue);
	}
	80% {
		border: 7px double var(--white);
	}
	90% {
		border: 7px double var(--blue);
	}
	100% {
		border: 7px double var(--blue);
	}
}

@keyframes map-blinking {
	0% {
	}
	10% {
		border: 2px double var(--blue);
	}
	20% {
		border: 2px double var(--white);
	}
	30% {
		border: 2px double var(--blue);
	}
	40% {
		border: 2px double var(--white);
	}
	50% {
		border: 2px double var(--blue);
	}
	60% {
		border: 2px double var(--white);
	}
	70% {
		border: 2px double var(--blue);
	}
	80% {
		border: 2px double var(--white);
	}
	90% {
		border: 2px double var(--blue);
	}
	100% {
		border: 2px double var(--blue);
	}
}

@keyframes text-ready-anim {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 1;
	}
}

@keyframes pac-man-mouth {
	0% {
		border-left: 30px solid var(--yellow);
		border-top: 30px solid var(--yellow);
	}
	100% {
		border-left: 15px solid var(--yellow);
		border-top: 15px solid var(--yellow);
	}
}

@keyframes pac-man-animation {
	0% {
		transform: rotate(-45deg);
	}
	2.5% {
		transform: translateX(523%) rotate(-45deg);
	}
	3% {
		transform: translateX(523%) rotate(45deg);
	}
	5% {
		transform: translateX(523%) translateY(400%) rotate(45deg);
	}
	5.5% {
		transform: translateX(523%) translateY(400%) rotate(-45deg);
	}
	9.5% {
		transform: translateX(1458%) translateY(400%) rotate(-45deg);
	}
	10% {
		transform: translateX(1458%) translateY(400%) rotate(45deg);
	}
	12.5% {
		transform: translateX(1458%) translateY(940%) rotate(45deg);
	}
	13% {
		transform: translateX(1458%) translateY(940%) rotate(135deg);
	}
	17% {
		transform: translateX(520%) translateY(940%) rotate(135deg);
	}
	17.5% {
		transform: translateX(520%) translateY(940%) rotate(225deg);
	}
	19% {
		transform: translateX(520%) translateY(670%) rotate(225deg);
	}
	19.5% {
		transform: translateX(520%) translateY(670%) rotate(135deg);
	}
	22% {
		transform: translateX(-10%) translateY(670%) rotate(135deg);
	}
	22.5% {
		transform: translateX(-10%) translateY(670%) rotate(225deg);
	}
	23.5% {
		transform: translateX(-10%) translateY(530%) rotate(225deg);
	}
	24% {
		transform: translateX(-10%) translateY(530%) rotate(45deg);
	}
	26% {
		transform: translateX(-10%) translateY(940%) rotate(45deg);
	}
	26.5% {
		transform: translateX(-10%) translateY(940%) rotate(-45deg);
	}
	30.5% {
		transform: translateX(925%) translateY(940%) rotate(-45deg);
	}
	31% {
		transform: translateX(925%) translateY(940%) rotate(-135deg);
	}
	32.5% {
		transform: translateX(925%) translateY(670%) rotate(-135deg);
	}
	33% {
		transform: translateX(925%) translateY(670%) rotate(-45deg);
	}
	35.5% {
		transform: translateX(1460%) translateY(670%) rotate(-45deg);
	}
	36% {
		transform: translateX(1460%) translateY(670%) rotate(-135deg);
	}
	39% {
		transform: translateX(1460%) translateY(0%) rotate(-135deg);
	}
	39.5% {
		transform: translateX(1460%) translateY(0%) rotate(-225deg);
	}
	42% {
		transform: translateX(925%) translateY(0%) rotate(-225deg);
	}
	42.5% {
		transform: translateX(925%) translateY(0%) rotate(-315deg);
	}
	44.5% {
		transform: translateX(925%) translateY(400%) rotate(-315deg);
	}
	45% {
		transform: translateX(925%) translateY(400%) rotate(-225deg);
	}
	49% {
		transform: translateX(-10%) translateY(400%) rotate(-225deg);
	}
	49.5% {
		transform: translateX(-10%) translateY(400%) rotate(-135deg);
	}
	52.5% {
		transform: translateX(-10%) translateY(-260%) rotate(-135deg);
	}
	53% {
		transform: translateX(-10%) translateY(-260%) rotate(-45deg);
	}
	55.5% {
		transform: translateX(525%) translateY(-260%) rotate(-45deg);
	}
	56% {
		transform: translateX(525%) translateY(-260%) rotate(-135deg);
	}
	57.5% {
		transform: translateX(525%) translateY(-530%) rotate(-135deg);
	}
	58% {
		transform: translateX(525%) translateY(-530%) rotate(-45deg);
	}
	62% {
		transform: translateX(1455%) translateY(-530%) rotate(-45deg);
	}
	62.5% {
		transform: translateX(1455%) translateY(-530%) rotate(45deg);
	}
	64.5% {
		transform: translateX(1455%) translateY(-140%) rotate(45deg);
	}
	65% {
		transform: translateX(1455%) translateY(-140%) rotate(225deg);
	}
	66% {
		transform: translateX(1455%) translateY(-270%) rotate(225deg);
	}
	66.5% {
		transform: translateX(1455%) translateY(-270%) rotate(135deg);
	}
	69% {
		transform: translateX(925%) translateY(-270%) rotate(135deg);
	}
	69.5% {
		transform: translateX(925%) translateY(-270%) rotate(225deg);
	}
	71% {
		transform: translateX(925%) translateY(-530%) rotate(225deg);
	}
	71.5% {
		transform: translateX(925%) translateY(-530%) rotate(135deg);
	}
	75.5% {
		transform: translateX(-10%) translateY(-530%) rotate(135deg);
	}
	76% {
		transform: translateX(-10%) translateY(-530%) rotate(45deg);
	}
	79% {
		transform: translateX(-10%) translateY(0%) rotate(45deg);
	}
	79.5% {
		transform: translateX(-10%) translateY(0%) rotate(-45deg);
	}
	81% {
		transform: translateX(260%) translateY(0%) rotate(-45deg);
	}
	81.5% {
		transform: translateX(260%) translateY(0%) rotate(45deg);
	}
	82.5% {
		transform: translateX(260%) translateY(130%) rotate(45deg);
	}
	83.5% {
		transform: translateX(260%) translateY(130%) rotate(-135deg);
	}
	84.5% {
		transform: translateX(260%) translateY(0%) rotate(-135deg);
	}
	85% {
		transform: translateX(260%) translateY(0%) rotate(-45deg);
	}
	89% {
		transform: translateX(1190%) translateY(0%) rotate(-45deg);
	}
	89.5% {
		transform: translateX(1190%) translateY(0%) rotate(45deg);
	}
	90.5% {
		transform: translateX(1190%) translateY(130%) rotate(45deg);
	}
	100% {
		transform: translateX(1190%) translateY(130%) rotate(45deg);
	}
}

/****************************************************
 ********** MONSTER RED ANIMATIONS ******************
 ****************************************************/

@keyframes monster-red-animation {
	3% {
		transform: translateX(-735%) translateY(-40%);
	}
	4.5% {
		transform: translateX(-735%) translateY(265%);
	}
	7% {
		transform: translateX(-1265%) translateY(265%);
	}
	11% {
		transform: translateX(-1265%) translateY(1455%);
	}
	12.5% {
		background: var(--monster-red);
	}
	12.6% {
		background: var(--navy);
	}
	13.5% {
		transform: translateX(-735%) translateY(1455%);
	}
	15% {
		transform: translateX(-735%) translateY(1790%);
	}
	16% {
		transform: translateX(-550%) translateY(1790%);
	}
	16.1% {
		opacity: 1;
		background: var(--navy);
	}
	16.2% {
		background-color: var(--black);
	}
	16.6% {
		transform: translateX(-340%) translateY(1790%);
	}
	17.2% {
		transform: translateX(-340%) translateY(1490%);
	}
	18.2% {
		transform: translateX(180%) translateY(1490%);
	}
	19% {
		transform: translateX(180%) translateY(1140%);
	}
	20% {
		transform: translateX(-330%) translateY(1150%);
	}
	20.8% {
		transform: translateX(-330%) translateY(600%);
	}
	21.2% {
		transform: translateX(-535%) translateY(600%);
	}
	21.6% {
		background-color: var(--black);
	}
	21.7% {
		transform: translateX(-535%) translateY(870%);
		background-color: var(--monster-red);
	}
	24% {
		transform: translateX(-535%) translateY(870%);
		background-color: var(--monster-red);
	}
	25% {
		transform: translateX(-535%) translateY(610%);
	}
	25.8% {
		background-color: var(--monster-red);
	}
	25.9% {
		background-color: var(--navy);
	}
	28% {
		transform: translateX(200%) translateY(610%);
	}
	30.5% {
		transform: translateX(200%) translateY(-50%);
	}
	34.5% {
		transform: translateX(-740%) translateY(-50%);
	}
	36% {
		transform: translateX(-740%) translateY(270%);
	}
	38.5% {
		transform: translateX(-1265%) translateY(270%);
	}
	43.5% {
		transform: translateX(-1265%) translateY(1770%);
	}
	43.6% {
		background: var(--navy);
	}
	44% {
		background: var(--white);
	}
	44.4% {
		background: var(--navy);
	}
	44.8% {
		background: var(--white);
	}
	45.2% {
		background: var(--navy);
	}
	45.6% {
		background: var(--white);
	}
	46% {
		background: var(--navy);
		transform: translateX(-740%) translateY(1770%);
	}
	46.4% {
		background: var(--white);
	}
	46.8% {
		background: var(--navy);
	}
	47.2% {
		background: var(--white);
	}
	47.5% {
		transform: translateX(-740%) translateY(1460%);
	}
	47.6% {
		background: var(--navy);
	}
	48% {
		background: var(--white);
	}
	48.4% {
		background: var(--navy);
	}
	48.8% {
		background: var(--white);
	}
	49.2% {
		background: var(--navy);
	}
	49.6% {
		background: var(--white);
	}
	49.9% {
		background: var(--navy);
	}
	50% {
		transform: translateX(-1265%) translateY(1460%);
		background: var(--monster-red);
	}
	51.5% {
		transform: translateX(-1265%) translateY(1110%);
	}
	54% {
		transform: translateX(-740%) translateY(1110%);
	}
	56% {
		transform: translateX(-740%) translateY(630%);
	}
	58% {
		transform: translateX(-340%) translateY(630%);
	}
	60% {
		transform: translateX(-340%) translateY(1120%);
	}
	62.1% {
		background: var(--monster-red);
	}
	62.2% {
		background: var(--navy);
	}
	62.5% {
		transform: translateX(190%) translateY(1120%);
	}
	68.5% {
		transform: translateX(-1260%) translateY(1120%);
	}
	70.5% {
		transform: translateX(-1260%) translateY(1775%);
	}
	74.5% {
		transform: translateX(-330%) translateY(1775%);
	}
	76% {
		transform: translateX(-330%) translateY(1460%);
	}
	78.5% {
		transform: translateX(190%) translateY(1460%);
	}
	82.5% {
		transform: translateX(190%) translateY(290%);
	}
	85% {
		transform: translateX(-330%) translateY(290%);
	}
	85.1% {
		background: var(--navy);
	}
	85.2% {
		background: var(--white);
	}
	85.6% {
		background: var(--navy);
	}
	86% {
		background: var(--white);
	}
	86.4% {
		background: var(--navy);
	}
	86.5% {
		transform: translateX(-330%) translateY(-60%);
	}
	86.8% {
		background: var(--white);
	}
	87.2% {
		background: var(--navy);
	}
	87.6% {
		background: var(--white);
	}
	88% {
		background: var(--navy);
	}
	88.4% {
		background: var(--white);
	}
	88.8% {
		background: var(--navy);
	}
	89.2% {
		background: var(--white);
	}
	89.6% {
		background: var(--navy);
	}
	90% {
		background: var(--white);
	}
	90.4% {
		background: var(--navy);
	}
	90.5% {
		transform: translateX(-1260%) translateY(-60%);
		background: var(--monster-red);
	}
	100% {
		transform: translateX(-1260%) translateY(-60%);
		background: var(--monster-red);
	}
}
@keyframes monster-red-wave-normal-animation {
	0% {
		opacity: 1;
	}
	12.5% {
		opacity: 1;
	}
	12.6% {
		opacity: 0;
	}
	21.6% {
		opacity: 0;
	}
	21.7% {
		opacity: 1;
	}
	62.1% {
		opacity: 1;
	}
	62.2% {
		opacity: 0;
	}
	90.5% {
		opacity: 0;
	}
	90.6% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes monster-red-wave-eaten-animation {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	12.6% {
		opacity: 1;
	}
	16.1% {
		opacity: 1;
	}
	16.2% {
		opacity: 0;
	}
	25.8% {
		opacity: 0;
	}
	25.9% {
		opacity: 1;
	}
	25.9% {
		opacity: 1;
	}
	49.9% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	62.1% {
		opacity: 0;
	}
	62.2% {
		opacity: 1;
	}
	85.1% {
		opacity: 1;
	}
	90.4% {
		opacity: 1;
	}
	90.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes monster-red-wave-eaten-white-blinking-animation {
	0% {
		opacity: 0;
	}
	43.6% {
		opacity: 0;
	}
	44% {
		opacity: 1;
	}
	44.4% {
		opacity: 0;
	}
	44.8% {
		opacity: 1;
	}
	45.2% {
		opacity: 0;
	}
	45.6% {
		opacity: 1;
	}
	46% {
		opacity: 0;
	}
	46.4% {
		opacity: 1;
	}
	46.8% {
		opacity: 0;
	}
	47.2% {
		opacity: 1;
	}
	47.6% {
		opacity: 0;
	}
	48% {
		opacity: 1;
	}
	48.4% {
		opacity: 0;
	}
	48.8% {
		opacity: 1;
	}
	49.2% {
		opacity: 0;
	}
	49.6% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	85.1% {
		opacity: 0;
	}
	85.2% {
		opacity: 1;
	}
	85.6% {
		opacity: 0;
	}
	86% {
		opacity: 1;
	}
	86.4% {
		opacity: 0;
	}
	86.8% {
		opacity: 1;
	}
	87.2% {
		opacity: 0;
	}
	87.6% {
		opacity: 1;
	}
	88% {
		opacity: 0;
	}
	88.4% {
		opacity: 1;
	}
	88.8% {
		opacity: 0;
	}
	89.2% {
		opacity: 1;
	}
	89.6% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	90.4% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes monster-red-eyes {
	0% {
		opacity: 1;
	}
	12.5% {
		opacity: 1;
	}
	12.6% {
		opacity: 0;
	}
	16.1% {
		opacity: 0;
	}
	16.2% {
		opacity: 1;
	}
	25.8% {
		opacity: 1;
	}
	25.9% {
		opacity: 0;
	}
	49.9% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	62.1% {
		opacity: 1;
	}
	62.2% {
		opacity: 0;
	}
	90.5% {
		opacity: 0;
	}
	90.6% {
		opacity: 1;
	}
}
@keyframes monster-red-eyes-eaten-anim {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	12.6% {
		opacity: 1;
	}
	16.1% {
		opacity: 1;
	}
	16.2% {
		opacity: 0;
	}
	25.8% {
		opacity: 0;
	}
	25.9% {
		opacity: 1;
	}
	49.9% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	62.1% {
		opacity: 0;
	}
	62.2% {
		opacity: 1;
	}
	85.1% {
		opacity: 1;
	}
	90.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes monster-red-eyes-eaten-white-blinking-anim {
	0% {
		opacity: 0;
	}
	43.6% {
		opacity: 0;
	}
	44% {
		opacity: 1;
	}
	44.4% {
		opacity: 0;
	}
	44.8% {
		opacity: 1;
	}
	45.2% {
		opacity: 0;
	}
	45.6% {
		opacity: 1;
	}
	46% {
		opacity: 0;
	}
	46.4% {
		opacity: 1;
	}
	46.8% {
		opacity: 0;
	}
	47.2% {
		opacity: 1;
	}
	47.6% {
		opacity: 0;
	}
	48% {
		opacity: 1;
	}
	48.4% {
		opacity: 0;
	}
	48.8% {
		opacity: 1;
	}
	49.2% {
		opacity: 0;
	}
	49.6% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	85.1% {
		opacity: 0;
	}
	85.2% {
		opacity: 1;
	}
	85.6% {
		opacity: 0;
	}
	86% {
		opacity: 1;
	}
	86.4% {
		opacity: 0;
	}
	86.8% {
		opacity: 1;
	}
	87.2% {
		opacity: 0;
	}
	87.6% {
		opacity: 1;
	}
	88% {
		opacity: 0;
	}
	88.4% {
		opacity: 1;
	}
	88.8% {
		opacity: 0;
	}
	89.2% {
		opacity: 1;
	}
	89.6% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	90.4% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes monster-red-mouth-eaten-anim {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	12.6% {
		opacity: 1;
	}
	16.1% {
		opacity: 1;
	}
	16.2% {
		opacity: 0;
	}
	25.8% {
		opacity: 0;
	}
	25.9% {
		opacity: 1;
	}
	43.6% {
		opacity: 1;
	}
	49.9% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	62.1% {
		opacity: 0;
	}
	62.2% {
		opacity: 1;
	}
	85.1% {
		opacity: 1;
	}
	90.4% {
		opacity: 1;
	}
	90.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes monster-red-mouth-eaten-white-blinking-anim {
	0% {
		opacity: 0;
	}
	43.6% {
		opacity: 0;
	}
	44% {
		opacity: 1;
	}
	44.4% {
		opacity: 0;
	}
	44.8% {
		opacity: 1;
	}
	45.2% {
		opacity: 0;
	}
	45.6% {
		opacity: 1;
	}
	46% {
		opacity: 0;
	}
	46.4% {
		opacity: 1;
	}
	46.8% {
		opacity: 0;
	}
	47.2% {
		opacity: 1;
	}
	47.6% {
		opacity: 0;
	}
	48% {
		opacity: 1;
	}
	48.4% {
		opacity: 0;
	}
	48.8% {
		opacity: 1;
	}
	49.2% {
		opacity: 0;
	}
	49.6% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	85.1% {
		opacity: 0;
	}
	85.2% {
		opacity: 1;
	}
	85.6% {
		opacity: 0;
	}
	86% {
		opacity: 1;
	}
	86.4% {
		opacity: 0;
	}
	86.8% {
		opacity: 1;
	}
	87.2% {
		opacity: 0;
	}
	87.6% {
		opacity: 1;
	}
	88% {
		opacity: 0;
	}
	88.4% {
		opacity: 1;
	}
	88.8% {
		opacity: 0;
	}
	89.2% {
		opacity: 1;
	}
	89.6% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	90.4% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
/****************************************************
 ********** MONSTER BLUE ANIMATIONS ******************
 ****************************************************/

@keyframes monster-blue-animation {
	2% {
		transform: translateX(375%) translateY(-40%);
	}
	3.5% {
		transform: translateX(375%) translateY(-370%);
	}
	6% {
		transform: translateX(-160%) translateY(-370%);
	}
	7.5% {
		transform: translateX(-160%) translateY(-700%);
	}
	10% {
		transform: translateX(365%) translateY(-700%);
	}
	12% {
		transform: translateX(365%) translateY(-1200%);
	}
	12.5% {
		transform: translateX(465%) translateY(-1200%);
		background: var(--monster-blue);
	}
	12.6% {
		opacity: 1;
		background: var(--navy);
	}
	16% {
		transform: translateX(-160%) translateY(-1200%);
	}
	18.5% {
		transform: translateX(-160%) translateY(-1870%);
	}
	22.5% {
		transform: translateX(760%) translateY(-1870%);
	}
	24% {
		transform: translateX(760%) translateY(-1550%);
	}
	26.5% {
		transform: translateX(1300%) translateY(-1550%);
	}
	29.5% {
		transform: translateX(1300%) translateY(-700%);
	}
	32% {
		transform: translateX(760%) translateY(-700%);
	}
	34% {
		transform: translateX(760%) translateY(-1200%);
	}
	36% {
		transform: translateX(365%) translateY(-1200%);
	}
	38% {
		transform: translateX(365%) translateY(-700%);
	}
	40.5% {
		transform: translateX(-160%) translateY(-700%);
	}
	43.5% {
		transform: translateX(-160%) translateY(-1550%);
	}
	43.6% {
		background: var(--navy);
	}
	44% {
		background: var(--white);
	}
	44.4% {
		background: var(--navy);
	}
	44.8% {
		background: var(--white);
	}
	45.2% {
		background: var(--navy);
	}
	45.6% {
		background: var(--white);
	}
	46% {
		background: var(--navy);
		transform: translateX(365%) translateY(-1550%);
	}
	46.4% {
		background: var(--white);
	}
	46.8% {
		background: var(--navy);
	}
	47.2% {
		background: var(--white);
	}
	47.5% {
		transform: translateX(365%) translateY(-1870%);
	}
	47.6% {
		background: var(--navy);
	}
	48% {
		background: var(--white);
	}
	48.4% {
		background: var(--navy);
	}
	48.8% {
		background: var(--white);
	}
	49.2% {
		background: var(--navy);
	}
	49.6% {
		background: var(--white);
	}
	49.9% {
		background: var(--navy);
	}
	50% {
		background-color: var(--monster-blue);
	}
	51.5% {
		transform: translateX(1300%) translateY(-1870%);
	}
	54.5% {
		transform: translateX(1300%) translateY(-1200%);
	}
	57% {
		transform: translateX(760%) translateY(-1200%);
	}
	59.5% {
		transform: translateX(1300%) translateY(-1200%);
	}
	62.1% {
		background-color: var(--monster-blue);
	}
	62.2% {
		transform: translateX(1300%) translateY(-1870%);
		background-color: var(--black);
	}
	63.4% {
		transform: translateX(365%) translateY(-1870%);
	}
	64% {
		transform: translateX(365%) translateY(-1550%);
	}
	65% {
		transform: translateX(-160%) translateY(-1550%);
	}
	65.6% {
		transform: translateX(-160%) translateY(-1200%);
	}
	66.8% {
		transform: translateX(570%) translateY(-1200%);
	}
	67.2% {
		transform: translateX(570%) translateY(-950%);
		background-color: var(--black);
	}
	67.3% {
		background-color: var(--monster-blue);
	}
	69.9% {
		transform: translateX(570%) translateY(-950%);
	}
	71% {
		transform: translateX(570%) translateY(-1200%);
	}
	74% {
		transform: translateX(1300%) translateY(-1200%);
	}
	75.4% {
		background-color: var(--monster-blue);
	}
	75.5% {
		background: var(--navy);
	}
	78% {
		transform: translateX(1300%) translateY(-40%);
	}
	82% {
		transform: translateX(365%) translateY(-40%);
	}
	83.5% {
		transform: translateX(365%) translateY(-370%);
	}
	85.1% {
		background: var(--navy);
	}
	85.2% {
		background: var(--white);
	}
	85.6% {
		background: var(--navy);
	}
	86% {
		transform: translateX(-160%) translateY(-370%);
		background: var(--white);
	}
	86.4% {
		background: var(--navy);
	}
	86.8% {
		background: var(--white);
	}
	87.2% {
		background: var(--navy);
	}
	87.5% {
		transform: translateX(-160%) translateY(-700%);
	}
	87.6% {
		background: var(--white);
	}
	88% {
		background: var(--navy);
	}
	88.4% {
		background: var(--white);
	}
	88.8% {
		background: var(--navy);
	}
	89.2% {
		background: var(--white);
	}
	89.6% {
		background: var(--navy);
	}
	90% {
		background: var(--white);
	}
	90.4% {
		background: var(--navy);
	}
	90.5% {
		background-color: var(--monster-blue);
		transform: translateX(455%) translateY(-700%);
	}
	100% {
		transform: translateX(455%) translateY(-700%);
	}
}
@keyframes monster-blue-wave-normal {
	0% {
		opacity: 1;
	}
	12.5% {
		opacity: 1;
	}
	12.6% {
		opacity: 0;
	}
	21.6% {
		opacity: 0;
	}
	21.7% {
		opacity: 1;
	}
	62.1% {
		opacity: 1;
	}
	62.2% {
		opacity: 0;
	}
	67.2% {
		opacity: 0;
	}
	67.3% {
		opacity: 1;
	}
	75.4% {
		opacity: 1;
	}
	75.5% {
		opacity: 0;
	}
	85% {
		opacity: 0;
	}
	85.1% {
		opacity: 1;
	}
	/* 90.5% {
		opacity: 0;
	} */
	90.6% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes monster-blue-wave-eaten-animation {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	12.6% {
		opacity: 1;
	}
	49.9% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75.4% {
		opacity: 0;
	}
	75.5% {
		opacity: 1;
	}
	85.1% {
		opacity: 1;
	}
	90.4% {
		opacity: 1;
	}
	90.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes monster-blue-wave-eaten-white-blinking-animation {
	0% {
		opacity: 0;
	}
	43.6% {
		opacity: 0;
	}
	44% {
		opacity: 1;
	}
	44.4% {
		opacity: 0;
	}
	44.8% {
		opacity: 1;
	}
	45.2% {
		opacity: 0;
	}
	45.6% {
		opacity: 1;
	}
	46% {
		opacity: 0;
	}
	46.4% {
		opacity: 1;
	}
	46.8% {
		opacity: 0;
	}
	47.2% {
		opacity: 1;
	}
	47.6% {
		opacity: 0;
	}
	48% {
		opacity: 1;
	}
	48.4% {
		opacity: 0;
	}
	48.8% {
		opacity: 1;
	}
	49.2% {
		opacity: 0;
	}
	49.6% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	85.1% {
		opacity: 0;
	}
	85.2% {
		opacity: 1;
	}
	85.6% {
		opacity: 0;
	}
	86% {
		opacity: 1;
	}
	86.4% {
		opacity: 0;
	}
	86.8% {
		opacity: 1;
	}
	87.2% {
		opacity: 0;
	}
	87.6% {
		opacity: 1;
	}
	88% {
		opacity: 0;
	}
	88.4% {
		opacity: 1;
	}
	88.8% {
		opacity: 0;
	}
	89.2% {
		opacity: 1;
	}
	89.6% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	90.4% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes monster-blue-eyes {
	0% {
		opacity: 1;
	}
	12.5% {
		opacity: 1;
	}
	12.6% {
		opacity: 0;
	}
	25.8% {
		opacity: 0;
	}
	49.9% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	62.1% {
		opacity: 1;
	}
	75.4% {
		opacity: 1;
	}
	75.5% {
		opacity: 0;
	}
	90.5% {
		opacity: 0;
	}
	90.6% {
		opacity: 1;
	}
}
@keyframes monster-blue-eyes-eaten-anim {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	12.6% {
		opacity: 1;
	}
	25.9% {
		opacity: 1;
	}
	49.9% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75.4% {
		opacity: 0;
	}
	75.5% {
		opacity: 1;
	}
	90.4% {
		opacity: 1;
	}
	90.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes monster-blue-eyes-eaten-white-blinking-anim {
	0% {
		opacity: 0;
	}
	43.6% {
		opacity: 0;
	}
	44% {
		opacity: 1;
	}
	44.4% {
		opacity: 0;
	}
	44.8% {
		opacity: 1;
	}
	45.2% {
		opacity: 0;
	}
	45.6% {
		opacity: 1;
	}
	46% {
		opacity: 0;
	}
	46.4% {
		opacity: 1;
	}
	46.8% {
		opacity: 0;
	}
	47.2% {
		opacity: 1;
	}
	47.6% {
		opacity: 0;
	}
	48% {
		opacity: 1;
	}
	48.4% {
		opacity: 0;
	}
	48.8% {
		opacity: 1;
	}
	49.2% {
		opacity: 0;
	}
	49.6% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	85.1% {
		opacity: 0;
	}
	85.2% {
		opacity: 1;
	}
	85.6% {
		opacity: 0;
	}
	86% {
		opacity: 1;
	}
	86.4% {
		opacity: 0;
	}
	86.8% {
		opacity: 1;
	}
	87.2% {
		opacity: 0;
	}
	87.6% {
		opacity: 1;
	}
	88% {
		opacity: 0;
	}
	88.4% {
		opacity: 1;
	}
	88.8% {
		opacity: 0;
	}
	89.2% {
		opacity: 1;
	}
	89.6% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	90.4% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes monster-blue-mouth-eaten-anim {
	0% {
		opacity: 0;
	}
	12.5% {
		opacity: 0;
	}
	12.6% {
		opacity: 1;
	}
	43.6% {
		opacity: 1;
	}
	49.9% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75.4% {
		opacity: 0;
	}
	75.5% {
		opacity: 1;
	}
	90.4% {
		opacity: 1;
	}
	90.5% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes monster-blue-mouth-eaten-white-blinking-anim {
	0% {
		opacity: 0;
	}
	43.6% {
		opacity: 0;
	}
	44% {
		opacity: 1;
	}
	44.4% {
		opacity: 0;
	}
	44.8% {
		opacity: 1;
	}
	45.2% {
		opacity: 0;
	}
	45.6% {
		opacity: 1;
	}
	46% {
		opacity: 0;
	}
	46.4% {
		opacity: 1;
	}
	46.8% {
		opacity: 0;
	}
	47.2% {
		opacity: 1;
	}
	47.6% {
		opacity: 0;
	}
	48% {
		opacity: 1;
	}
	48.4% {
		opacity: 0;
	}
	48.8% {
		opacity: 1;
	}
	49.2% {
		opacity: 0;
	}
	49.6% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	85.1% {
		opacity: 0;
	}
	85.2% {
		opacity: 1;
	}
	85.6% {
		opacity: 0;
	}
	86% {
		opacity: 1;
	}
	86.4% {
		opacity: 0;
	}
	86.8% {
		opacity: 1;
	}
	87.2% {
		opacity: 0;
	}
	87.6% {
		opacity: 1;
	}
	88% {
		opacity: 0;
	}
	88.4% {
		opacity: 1;
	}
	88.8% {
		opacity: 0;
	}
	89.2% {
		opacity: 1;
	}
	89.6% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	90.4% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.bounties {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}

.bounties div {
	background: var(--yellow);
	width: 7px;
	height: 7px;
	border-radius: 50%;
}
.bounties .div1 {
	grid-area: 1 / 12 / 2 / 13;
	width: 15px;
	height: 15px;
	animation: eat-bounty 0.2s forwards 37.65s;
}
.bounties .div2 {
	grid-area: 1 / 11 / 2 / 12;
	animation: eat-bounty 0.2s forwards 37.3s;
}
.bounties .div3 {
	grid-area: 1 / 10 / 2 / 11;
	animation: eat-bounty 0.2s forwards 37s;
}
.div4 {
	grid-area: 1 / 9 / 2 / 10;
	animation: eat-bounty 0.2s forwards 36.6s;
}
.div5 {
	grid-area: 1 / 8 / 2 / 9;
	animation: eat-bounty 0.2s forwards 36.35s;
}
.div6 {
	grid-area: 1 / 7 / 2 / 8;
	animation: eat-bounty 0.2s forwards 36s;
}
.div7 {
	grid-area: 1 / 6 / 2 / 7;
	animation: eat-bounty 0.2s forwards 35.6s;
}
.div8 {
	grid-area: 1 / 5 / 2 / 6;
	animation: eat-bounty 0.2s forwards 35s;
}
.div9 {
	grid-area: 1 / 4 / 2 / 5;
	animation: eat-bounty 0.2s forwards 44.8s;
}

.div10 {
	grid-area: 1 / 3 / 2 / 4;
	animation: eat-bounty 0.2s forwards 45s;
}
.div11 {
	grid-area: 1 / 2 / 2 / 3;
	animation: eat-bounty 0.2s forwards 45.45s;
}
.bounties .div12 {
	grid-area: 1 / 1 / 2 / 2;
	width: 15px;
	height: 15px;
	animation: eat-bounty 0.2s forwards 45.8s;
}
.div13 {
	grid-area: 2 / 1 / 3 / 2;
	animation: eat-bounty 0.2s forwards 46.4s;
}
.div14 {
	grid-area: 2 / 2 / 3 / 3;
}
.div15 {
	grid-area: 2 / 3 / 3 / 4;
}
.div16 {
	grid-area: 2 / 4 / 3 / 5;
}
.div17 {
	grid-area: 2 / 5 / 3 / 6;
	animation: eat-bounty 0.2s forwards 34.5s;
}
.div18 {
	grid-area: 2 / 6 / 3 / 7;
}
.div19 {
	grid-area: 2 / 7 / 3 / 8;
}
.div20 {
	grid-area: 2 / 8 / 3 / 9;
	animation: eat-bounty 0.2s forwards 42.5s;
}
.div21 {
	grid-area: 2 / 9 / 3 / 10;
}
.div22 {
	grid-area: 2 / 10 / 3 / 11;
}
.div23 {
	grid-area: 2 / 11 / 3 / 12;
}
.div24 {
	grid-area: 2 / 12 / 3 / 13;
	animation: eat-bounty 0.2s forwards 38.4s;
}
.div25 {
	grid-area: 3 / 12 / 4 / 13;
	animation: eat-bounty 0.2s forwards 38.8s;
}
.div26 {
	grid-area: 3 / 11 / 4 / 12;
	animation: eat-bounty 0.2s forwards 40.7s;
}
.div27 {
	grid-area: 3 / 10 / 4 / 11;
	animation: eat-bounty 0.2s forwards 41.1s;
}
.div28 {
	grid-area: 3 / 9 / 4 / 10;
	animation: eat-bounty 0.2s forwards 41.4s;
}
.div29 {
	grid-area: 3 / 8 / 4 / 9;
	animation: eat-bounty 0.2s forwards 41.8s;
}
.div30 {
	grid-area: 3 / 7 / 4 / 8;
}
.div31 {
	grid-area: 3 / 6 / 4 / 7;
}
.div32 {
	grid-area: 3 / 5 / 4 / 6;
	animation: eat-bounty 0.2s forwards 33.7s;
}
.div33 {
	grid-area: 3 / 4 / 4 / 5;
	animation: eat-bounty 0.2s forwards 33.3s;
}
.div34 {
	grid-area: 3 / 3 / 4 / 4;
	animation: eat-bounty 0.2s forwards 32.95s;
}
.div35 {
	grid-area: 3 / 2 / 4 / 3;
	animation: eat-bounty 0.2s forwards 32.6s;
}
.div36 {
	grid-area: 3 / 1 / 4 / 2;
	animation: eat-bounty 0.2s forwards 31.9s;
}
.div37 {
	grid-area: 4 / 1 / 5 / 2;
	animation: eat-bounty 0.3s forwards 31.5s;
}
.div38 {
	grid-area: 4 / 2 / 5 / 3;
}
.div39 {
	grid-area: 4 / 3 / 5 / 4;
}
.div40 {
	grid-area: 4 / 4 / 5 / 5;
}
.div41 {
	grid-area: 4 / 5 / 5 / 6;
}
.div42 {
	grid-area: 4 / 6 / 5 / 7;
}
.div43 {
	grid-area: 4 / 7 / 5 / 8;
}
.div44 {
	grid-area: 4 / 8 / 5 / 9;
}
.div45 {
	grid-area: 4 / 9 / 5 / 10;
}
.div46 {
	grid-area: 4 / 10 / 5 / 11;
}
.div47 {
	grid-area: 4 / 11 / 5 / 12;
}
.div48 {
	grid-area: 4 / 12 / 5 / 13;
	animation: eat-bounty 0.2s forwards 39.1s;
}
.div49 {
	grid-area: 5 / 12 / 6 / 13;
	animation: eat-bounty 0.2s forwards 23.8s;
}
.div50 {
	grid-area: 5 / 11 / 6 / 12;
	animation: eat-bounty 0.2s forwards 24.5s;
}
.div51 {
	grid-area: 5 / 10 / 6 / 11;
	animation: eat-bounty 0.2s forwards 24.8s;
}
.div52 {
	grid-area: 5 / 9 / 6 / 10;
	animation: eat-bounty 0.2s forwards 25.2s;
}
.div53 {
	grid-area: 5 / 8 / 6 / 9;
	animation: eat-bounty 0.2s forwards 25.65s;
}
.div54 {
	grid-area: 5 / 7 / 6 / 8;
	animation: eat-bounty 0.2s forwards 52.8s;
}
.div55 {
	grid-area: 5 / 6 / 6 / 7;
	animation: eat-bounty 0.2s forwards 52.5s;
}
.div56 {
	grid-area: 5 / 5 / 6 / 6;
	animation: eat-bounty 0.2s forwards 2s;
}
.div57 {
	grid-area: 5 / 4 / 6 / 5;
	animation: eat-bounty 0.2s forwards 1.5s;
}
.div58 {
	grid-area: 5 / 3 / 6 / 4;
	animation: eat-bounty 0.2s forwards 1.15s;
}
.div59 {
	grid-area: 5 / 2 / 6 / 3;
	animation: eat-bounty 0.2s forwards 0.7s;
}
.div60 {
	grid-area: 5 / 1 / 6 / 2;
	animation: eat-bounty 0.2s forwards 0s;
}
.div61 {
	grid-area: 6 / 1 / 7 / 2;
	animation: eat-bounty 0.2s forwards 30.8s;
}
.div62 {
	grid-area: 6 / 2 / 7 / 3;
}
.div63 {
	grid-area: 6 / 3 / 7 / 4;
	animation: eat-bounty 0.2s forwards 49.8s;
}
.div64 {
	grid-area: 6 / 4 / 7 / 5;
}
.div65 {
	grid-area: 6 / 5 / 7 / 6;
	animation: eat-bounty 0.2s forwards 2.5s;
}
.div66 {
	grid-area: 6 / 6 / 7 / 7;
}
.div67 {
	grid-area: 6 / 7 / 7 / 8;
}
.div68 {
	grid-area: 6 / 8 / 7 / 9;
	animation: eat-bounty 0.2s forwards 26.4s;
}
.div69 {
	grid-area: 6 / 9 / 7 / 10;
}
.div70 {
	grid-area: 6 / 10 / 7 / 11;
	animation: eat-bounty 0.2s forwards 54.5s;
}
.div71 {
	grid-area: 6 / 11 / 7 / 12;
}
.div72 {
	grid-area: 6 / 12 / 7 / 13;
	animation: eat-bounty 0.2s forwards 23.4s;
}
.div73 {
	grid-area: 7 / 12 / 8 / 13;
	animation: eat-bounty 0.2s forwards 23s;
}
.div74 {
	grid-area: 7 / 11 / 8 / 12;
}
.div75 {
	grid-area: 7 / 10 / 8 / 11;
}
.div76 {
	grid-area: 7 / 9 / 8 / 10;
}
.div77 {
	grid-area: 7 / 8 / 8 / 9;
	animation: eat-bounty 0.2s forwards 26.8s;
}
.div78 {
	grid-area: 7 / 7 / 8 / 8;
}
.div79 {
	grid-area: 7 / 6 / 8 / 7;
}
.div80 {
	grid-area: 7 / 5 / 8 / 6;
	animation: eat-bounty 0.2s forwards 2.95s;
}
.div81 {
	grid-area: 7 / 4 / 8 / 5;
}
.div82 {
	grid-area: 7 / 3 / 8 / 4;
}
.div83 {
	grid-area: 7 / 2 / 8 / 3;
}
.div84 {
	grid-area: 7 / 1 / 8 / 2;
	animation: eat-bounty 0.2s forwards 30.5s;
}
.div85 {
	grid-area: 8 / 1 / 9 / 2;
	animation: eat-bounty 0.2s forwards 29.85s;
}
.div86 {
	grid-area: 8 / 2 / 9 / 3;
	animation: eat-bounty 0.2s forwards 29.4s;
}
.div87 {
	grid-area: 8 / 3 / 9 / 4;
	animation: eat-bounty 0.2s forwards 29.1s;
}
.div88 {
	grid-area: 8 / 4 / 9 / 5;
	animation: eat-bounty 0.2s forwards 28.8s;
}
.div89 {
	grid-area: 8 / 5 / 9 / 6;
	animation: eat-bounty 0.2s forwards 3.4s;
}
.div90 {
	grid-area: 8 / 6 / 9 / 7;
	animation: eat-bounty 0.2s forwards 4.1s;
}
.div91 {
	grid-area: 8 / 7 / 9 / 8;
	animation: eat-bounty 0.2s forwards 4.4s;
}
.div92 {
	grid-area: 8 / 8 / 9 / 9;
	animation: eat-bounty 0.2s forwards 4.7s;
}
.div93 {
	grid-area: 8 / 9 / 9 / 10;
	animation: eat-bounty 0.2s forwards 5.1s;
}
.div94 {
	grid-area: 8 / 10 / 9 / 11;
	animation: eat-bounty 0.2s forwards 5.4s;
}
.div95 {
	grid-area: 8 / 11 / 9 / 12;
	animation: eat-bounty 0.2s forwards 5.8s;
}
.div96 {
	grid-area: 8 / 12 / 9 / 13;
	animation: eat-bounty 0.2s forwards 6.3s;
}
.div97 {
	grid-area: 9 / 12 / 10 / 13;
	animation: eat-bounty 0.2s forwards 6.8s;
}
.div98 {
	grid-area: 9 / 11 / 10 / 12;
}
.div99 {
	grid-area: 9 / 10 / 10 / 11;
}
.div100 {
	grid-area: 9 / 9 / 10 / 10;
}
.div101 {
	grid-area: 9 / 8 / 10 / 9;
}
.div102 {
	grid-area: 9 / 7 / 10 / 8;
}
.div103 {
	grid-area: 9 / 6 / 10 / 7;
}
.div104 {
	grid-area: 9 / 5 / 10 / 6;
}
.div105 {
	grid-area: 9 / 4 / 10 / 5;
}
.div106 {
	grid-area: 9 / 3 / 10 / 4;
}
.div107 {
	grid-area: 9 / 2 / 10 / 3;
	animation: eat-bounty 0.2s forwards 19s;
}
.div108 {
	grid-area: 9 / 1 / 10 / 2;
	animation: eat-bounty 0.2s forwards 14.5s;
}
.div109 {
	grid-area: 10 / 1 / 11 / 2;
	animation: eat-bounty 0.2s forwards 13.6s;
}
.div110 {
	grid-area: 10 / 2 / 11 / 3;
	animation: eat-bounty 0.2s forwards 13.2s;
}
.div111 {
	grid-area: 10 / 3 / 11 / 4;
	animation: eat-bounty 0.2s forwards 12.8s;
}
.div112 {
	grid-area: 10 / 4 / 11 / 5;
	animation: eat-bounty 0.2s forwards 12.5s;
}
.div113 {
	grid-area: 10 / 5 / 11 / 6;
	animation: eat-bounty 0.2s forwards 11.8s;
}
.div114 {
	grid-area: 10 / 6 / 11 / 7;
}
.div115 {
	grid-area: 10 / 7 / 11 / 8;
}
.div116 {
	grid-area: 10 / 8 / 11 / 9;
	animation: eat-bounty 0.2s forwards 20s;
}
.div117 {
	grid-area: 10 / 9 / 11 / 10;
	animation: eat-bounty 0.2s forwards 20.65s;
}
.div118 {
	grid-area: 10 / 10 / 11 / 11;
	animation: eat-bounty 0.2s forwards 21s;
}
.div119 {
	grid-area: 10 / 11 / 11 / 12;
	animation: eat-bounty 0.2s forwards 21.3s;
}
.div120 {
	grid-area: 10 / 12 / 11 / 13;
	animation: eat-bounty 0.2s forwards 7.2s;
}
.div121 {
	grid-area: 11 / 12 / 12 / 13;
	animation: eat-bounty 0.2s forwards 7.6s;
}
.div122 {
	grid-area: 11 / 11 / 12 / 12;
}
.div123 {
	grid-area: 11 / 10 / 12 / 11;
}
.div124 {
	grid-area: 11 / 9 / 12 / 10;
}
.div125 {
	grid-area: 11 / 8 / 12 / 9;
	animation: eat-bounty 0.2s forwards 19.6s;
}
.div126 {
	grid-area: 11 / 7 / 12 / 8;
}
.div127 {
	grid-area: 11 / 6 / 12 / 7;
}
.div128 {
	grid-area: 11 / 5 / 12 / 6;
	animation: eat-bounty 0.2s forwards 11.3s;
}
.div129 {
	grid-area: 11 / 4 / 12 / 5;
}
.div130 {
	grid-area: 11 / 3 / 12 / 4;
}
.div131 {
	grid-area: 11 / 2 / 12 / 3;
}
.div132 {
	grid-area: 11 / 1 / 12 / 2;
	animation: eat-bounty 0.2s forwards 15.6s;
}
.bounties .div133 {
	grid-area: 12 / 1 / 13 / 2;
	width: 15px;
	height: 15px;
	animation: eat-bounty 0.2s forwards 16s;
}
.div134 {
	grid-area: 12 / 2 / 13 / 3;
	animation: eat-bounty 0.2s forwards 16.7s;
}
.div135 {
	grid-area: 12 / 3 / 13 / 4;
	animation: eat-bounty 0.2s forwards 17s;
}
.div136 {
	grid-area: 12 / 4 / 13 / 5;
	animation: eat-bounty 0.2s forwards 17.3s;
}
.div137 {
	grid-area: 12 / 5 / 13 / 6;
	animation: eat-bounty 0.2s forwards 10.8s;
}
.div138 {
	grid-area: 12 / 6 / 13 / 7;
	animation: eat-bounty 0.2s forwards 10.35s;
}
.div139 {
	grid-area: 12 / 7 / 13 / 8;
	animation: eat-bounty 0.2s forwards 10s;
}
.div140 {
	grid-area: 12 / 8 / 13 / 9;
	animation: eat-bounty 0.2s forwards 9.6s;
}
.div141 {
	grid-area: 12 / 9 / 13 / 10;
	animation: eat-bounty 0.2s forwards 9.2s;
}
.div142 {
	grid-area: 12 / 10 / 13 / 11;
	animation: eat-bounty 0.2s forwards 8.9s;
}
.div143 {
	grid-area: 12 / 11 / 13 / 12;
	animation: eat-bounty 0.2s forwards 8.5s;
}
.bounties .div144 {
	grid-area: 12 / 12 / 13 / 13;
	animation: eat-bounty 0.2s forwards 8s;
	width: 15px;
	height: 15px;
}

@keyframes eat-bounty {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
